body {
  background: rgba(0, 0, 0, 0.8);
  font-family: "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  color: white;
  max-width: 500px;
  min-width: 200px; }

.page {
  max-width: 500px; }

#replay_btn {
  position: relative;
  right: 50px; }

#next_btn {
  position: relative;
  left: 50px; }

.title {
  width: 50%;
  margin: 0 auto; }

.title__text {
  font-size: 30px;
  text-decoration: overline;
  text-align: center; }

.content {
  display: none;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%; }

.content-cat-block {
  border: 2px solid;
  border-radius: 5px;
  min-height: 100px;
  padding: 1%;
  overflow: hidden; }

.content-cat-block__cat {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
  max-height: 80px;
  margin-top: 2%; }

.toolbar {
  width: 100%; }
  .toolbar-iconl {
    display: none;
    margin: 0 auto;
    width: 30%; }
  .toolbar-iconc {
    margin: 0 auto;
    width: 30%;
    display: none; }
    .toolbar-iconc__btn {
      margin: 0 auto;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      font-size: 20px;
      padding: 5%;
      position: relative;
      left: 10px; }
    .toolbar-iconc__element {
      width: 50px;
      height: 50px;
      margin: 5%;
      margin-left: 10%; }
    .toolbar-iconc__element_none {
      width: 50px;
      height: 50px;
      margin: 5%; }

.joystick-screen {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  font-size: 30px; }
  .joystick-screen-token {
    border: 2px solid white;
    border-radius: 10px;
    min-width: 200px;
    margin-right: 5%; }
    .joystick-screen-token__text {
      text-align: center; }
    .joystick-screen-token__input {
      margin-top: 5%;
      margin-left: 10%;
      color: white;
      font-size: 15px;
      border: 1px solid white;
      border-radius: 10px;
      text-align: center;
      background: rgba(0, 0, 0, 0.2); }
    .joystick-screen-token__btn {
      margin-top: 5%;
      margin-left: 28%;
      margin-bottom: 5%;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      font-size: 20px;
      padding: 5%; }
      .joystick-screen-token__btn:hover {
        background: rgba(255, 255, 255, 0.2); }
      .joystick-screen-token__btn:active {
        background: rgba(255, 255, 255, 0.8); }
