body {
	background: rgba(0,0,0,.8); 
	font-family: "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	color: white;
	min-width: 500px; 
}

.content {
	width: 40%;
	min-width: 20%;
	margin: 0 auto; 
	padding-top: 8%;
}

.TitleGame {
	font-size: 40px;
	text-decoration: overline;
	text-align: center;
	padding: 2%;
}

.content_Main {
	font-size: 60px;
	text-align: center;
	padding: 10px;
	margin: 0 auto; 
	border: 3px solid white;
	border-radius: 20px;
	width: 60%;
	min-width: 150px;
}

.content-button {
	padding-top: 8%;
	max-width: 60%;
	text-align: center;
	margin: 0px auto;
}

.content-button-backGame {
	padding: 3%;
	float:left;
}

a.js-scoreboard, a.js-start-game, a.js-back {
  display: inline-block;
  color: white;
  font-size: 22px;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  border-radius: 10px;
}

a.js-scoreboard:hover, a.js-start-game:hover, a.js-back:hover { 
	background: rgba(255,255,255,.2); 
}

a.js-scoreboard:active, a.js-start-game:active, a.js-back:active { 
	 background: white; 
}
